
:root {
  font-family: "Ubuntu Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #4caf50;
}

.area {
  display: flex;
  flex-direction: column;
}

.area textarea {
  border-radius: 8px;
  min-width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 15px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.listaUrl p {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Indicatore del numero di 2 colonne */
  gap: 40px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.grid img {
  max-width: 100%; /* Assicurati che le immagini non superino la larghezza della colonna */
  max-height: 150px; /* Imposta un'altezza massima per ridurre le dimensioni delle immagini */
  object-fit: cover; /* Mantieni le proporzioni delle immagini */
}

button {
  font-size: 1.2em; /* Stessa dimensione del testo del placeholder */
  padding: 10px 15px; /* Stessa altezza del placeholder */
  border-radius: 8px; /* Bordi arrotondati */
  border: 1px solid #ccc; /* Bordo */
  background-color: #4caf50; /* Colore di sfondo */
  color: white; /* Colore del testo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Effetto 3D ombreggiato più leggero */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  transition: all 0.3s ease; /* Transizione per l'effetto hover */
  width: auto;
}

button:hover {
  background-color: #337c37; /* Colore di sfondo al passaggio del mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button#comprobar-button:active {
  background-color: #3e8e41; /* Colore di sfondo quando il bottone è premuto */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra meno pronunciata quando il bottone è premuto */
  transform: translateY(1px); /* Effetto di pressione più leggero */
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #337c37;
  }

  button {
    background-color: #4caf50;
  }
}
